/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #00d6b4;
}

a:hover {
    color: white;
}

p {
    color: #C5C6C7 !important;
}

article {
    margin-bottom: 5rem !important;
}

#intro, #privacy {
    margin-top: 5rem !important;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#header {
    background-image: 
        linear-gradient(180deg, rgba(34,34,34,0) 45%, rgba(34,34,34,0.55) 70%, rgba(34,34,34,1) 95%),
        url("../images/code-dark.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3rem !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*background-image: url(../images/bg.jpg);*/
    background: #222222;
    color: #C5C6C7;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#brand {
    color: #00d6b4;
}

#brand:hover {
    color: white;
}

#footer-text{
    color:#C5C6C7;
}

#nav-link {
    color: #00d6b4 !important;
}

#nav-link:hover {
    text-decoration: underline;
    color: white !important;
}

#cookie-bar {
    border-color: #00d6b4 !important;
    border-radius: 5px;
    color: #C5C6C7 !important;
}

.border {
    border-color: #00d6b4;
}

.contact-form {
    
}

.actions {
    list-style-type:none;
}

.actions li {
    float: left;
    padding-left: 2%;
}

/*.icons {
    list-style-type: none;
}

.icons li {
    float: left;
    padding-left: 5%;
}*/

.major {
    color: #00d6b4;
    padding-bottom: 1.5%;
}

.contact-textbox {
    background-color: transparent;
    border: 1px solid #00d6b4;
    color: #C5C6C7;
    border-radius: 5px;
}

.contact-textbox, label{
    display:block;
}

label{
    padding-top: 20px;
}

label, input {
    display:block;
    padding: 0;
}

input[type="text"] {
    height: 30px;
    width: 70%;
}

textarea{
    width:55.5%;
    height:inherit;
    padding-bottom: 10%;
}

.message-box {
    padding-top: 8%;
    padding-bottom: 3%;
    padding-left:1.5%;
}

/* ----------------------------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: white !important;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: rgb(27, 31, 34);
    color: white;
    border-bottom: none !important;
}

.modal-header h2 {
    border-bottom: solid 1px;
    border-color: white;
}


.modal-body {
    padding: 2px 16px;
    background-color: rgb(27, 31, 34);
    border-bottom: none !important;
    border-top: none !important;
}

.modal-footer {
    padding: 2px 16px;
    background-color: rgb(27, 31, 34);
    color: white;
    border-top: none !important;
}

#MobileMenu {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #45A29E;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 180rem;
    height: 13rem;
    width: 3rem;
    text-align: center;
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.4s;
    animation-name: animateright;
    animation-duration: 0.4s;
}

#UpArrow {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -52%);
    /*position: fixed;
    bottom: inherit;
    right: inherit;
    margin-top: 2rem !important;
    margin-right: 0.35rem;*/

}

    #MobileMenu:hover {
        background-color: #555;
    }

@-webkit-keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 30px;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 30px;
        opacity: 1
    }
}



@media screen and (max-width: 480px) {

    #MobileMenu {
        height: 5rem;
        width: 5rem;
    }

        #MobileMenu:hover {
            background-color: #45A29E;
        }

    #UpArrow {
        display: inline-block;
    }

    .modal-footer{
        text-align: center;

    }
    .icons {
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


@media screen and (max-width: 736px) {

    #MobileMenu:hover {
        background-color: #45A29E;
    }
}

@-webkit-keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 30px;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 30px;
        opacity: 1
    }
}
